.box1 {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  border-bottom: 0;
  padding: 10px;
}
.box1-1 {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.box1-1-avatar {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.box1-1-name {
  font-weight: bold;
}
.box1-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.back-btn {
  width: 80px;
  height: 30px;
}
.box2 {
  height: 600px;
  box-sizing: border-box;
  border: 1px solid;
  display: flex;
}
.box2-1 {
  width: 150px;
  height: 100%;
  border-right: 1px solid;
  overflow-y: scroll;
}
.box2-1::-webkit-scrollbar {
  display: none;
}
.box2-1-item {
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.box2-1-item-avatar {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.box2-1-item-name {
  flex: 1;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis; /* 显示省略号 */
}
.box3 {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.box3-1 {
  flex: 1;
  overflow-y: scroll;
}
.box3-1::-webkit-scrollbar {
  display: none;
}
.box3-1-item {
  padding: 10px;
  display: flex;
  gap: 10px;
}
.box3-1-item-avatar {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.box3-1-item-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.box3-1-item-box-name {
  font-weight: bold;
}
.box3-1-item-box-content {
  word-break: break-word;
}
.box3-2 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
:deep() input {
  width: 450px;
  height: 40px;
}
.box3-2-1 {
  width: 100px;
  height: 40px;
  margin-bottom: 0;
}
/* 视角 */
.right {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  text-align: end;
  gap: 10px;
}
.box4 {
  height: 100%;
  border: 1px solid;
  border-right: 0;
  border-top: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.box4-1 {
  flex: 1;
  overflow-y: scroll;
}
.box4-1::-webkit-scrollbar {
  display: none;
}
.box4-1-item {
  font-size: 12px;
  padding-left: 5px;
  overflow: hiddden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.box4-2 {
  height: 30px;
  border-top: 1px solid;
  text-align: center;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
