.box-head {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  border-bottom: 0;
  padding: 10px;
}

.box-head-left {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.box-head-left-avatar {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.box-head-rigt {
  display: flex;
  align-items: center;
  gap: 10px;
}
.back-btn {
  width: 80px;
  height: 30px;
}

.content {
  /* width: 1000px; */
  height: 600px;
  box-sizing: border-box;
  border: 1px solid;
  display: flex;
}

.content-left {
  width: 150px;
  height: 100%;
  border-right: 1px solid;
  overflow-y: scroll;
}

.content-left::-webkit-scrollbar {
  display: none;
}

.content-left-item {
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-left-item-avatar {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.content-left-item-name {
  flex: 1;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis; /* 显示省略号 */
}

.content-center {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.content-center-text {
  flex: 1;
  overflow-y: scroll;
}

.content-center-text::-webkit-scrollbar {
  display: none;
}

.content-center-text-item {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.content-center-text-item-avatar {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.content-center-text-item-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content-center-text-item-box-name {
  font-weight: bold;
}

.content-center-text-item-box-content {
  word-break: break-word;
}

.content-center-input {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

:deep() input {
  width: 450px;
  height: 40px;
}

.content-center-input-send {
  width: 100px;
  height: 40px;
  margin-bottom: 0;
}

/* 视角 */
.right {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  text-align: end;
  gap: 10px;
}

.content-right {
  /* width: 250px; */
  height: 100%;
  border: 1px solid;
  border-right: 0;
  border-top: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-right-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-right-content {
  flex: 1;
  overflow-y: scroll;
}

.content-right-content::-webkit-scrollbar {
  display: none;
}

.content-right-content-item {
  font-size: 12px;
  padding-left: 5px;
  overflow: hiddden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
