html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  padding-block: 0;
  padding-inline: 0;
  padding: 0;
  margin: 0;
  border: 1px solid;
  width: 300px;
  height: 40px;
  box-sizing: border-box;
  padding: 10px;
}

input:hover {
  outline: 1px solid;
}

input:focus-visible {
  outline: none;
}

input:focus-within {
  outline: 1px solid;
}

button {
  background-color: white;
  padding: 0;
  margin: 0;
  border: 1px solid;
  width: 300px;
  height: 40px;
  cursor: pointer;
}

button:hover {
  outline: 1px solid;
}

button:active {
  background-color: #e0e0e0;
}
