.box {
  position: relative;
}
.ping {
  position: absolute;
  margin: 0;
  line-height: 12px;
  bottom: 10px;
  right: 10px;
}
.box1 {
  width: 400px;
  height: 400px;
  border: 1px solid;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.box1-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box1-2 {
  width: 300px;
  height: 40px;
  display: flex;
  gap: 10px;
}
.back-login {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
.img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
}
.img:hover {
  outline: 1px solid;
}
.img:active {
  transform: scale(0.95);
}
